video {
    height: 65vh;
    display: block;
    margin: 0 auto;
}

#reactions-video {
    background-color: #000;
    color: #fafafa;
    font-size: 1.2rem;
    font-weight: 500;
    box-sizing: border-box;
    display: block;
    width: 36vh;
    margin: 1rem auto;
    padding: 1rem;
    border: none;
}
